@font-face {
    font-family: 'Kanit-Regular';
    src: url('../fonts/kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Kanit-Regular'; 
    font-size: 12px; 
    background-color: #f3f3f3;
    
}

h1 {
    font-size:24px; 
    font-weight: bold;
    color: #0175A4;
}

h2{
    font-size:16px; 
    color: #999999;
}

.row.content {height: 720px}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.header {
    z-index: 99;
    height: 80px;
    background-color: #ffffff;
    color: white;
    padding: 10px;
}

.example-avater{
    height: 220px;
    width:220px; 
    border-radius: 50%;
}

.avatar  {
    margin: 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
} 

.img-size{
    height: 220px;
    width:220px; 
}

footer {
    background-color: #0175A4;
    color: white;
    padding: 10px;
}

.dropbtn {
    background-color: #26a5a5;
    color: white;
    padding: 2px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.btn-custom-green{
    margin:2px;
    padding-left:7px;
    padding-right:7px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #51b72e;
    border-color:#51b72e;
    font-size:12px;
    color:white;
}
.btn-custom-green:hover{
    
    background-color: #218838;
    border-color:#1e7e34;
    
}
.btn-custom-blue{
    
    background-color: #337ab7;
    border-color:#337ab7;
    
    color:white;
}
.btn-custom-blue:hover{
    
    background-color: #186ab6;
    border-color:#186ab6;
    
}
.btn-custom-black{
    
    margin:2px;
    padding-left:7px;
    padding-right:7px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #353535;
    border-color:#353535;
    font-size:12px;
    color:white;
}
.btn-custom-black:hover{

    background-color: #000;
    border-color:#000;
    
}

.dropdown {
    padding: 0px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #26a5a5;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgb(111, 178, 199);
}

.menu-active{
    border-top: 1px solid #ECECEC; 
    border-left: 4px solid #0175A4;
    color: #0175A4;
    font-family: 'Kanit-Regular';
    text-decoration: none;
}

.menu{
    border-top: 1px solid #ECECEC; 
    border-left: 4px solid #fff;
    font-family: 'Kanit-Regular';
    text-decoration: none;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

#sidebar-wrapper{
    top: 0px !important;
}

.logo {
    text-indent: 0px !important;
    height: 50px !important; 
    padding-left: 15px;
    padding-right:5px;
    
}

.brand-line-one {
    font-size:20px;
    font-weight: bold;
    padding: 0px;
}

.brand-line-second {
    font-size:20px;
    padding: 0px;
}

table {
    font-size:14px;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}



.padding-0 {
    
    padding: 0px;
    
}

.margin-0 {
    
    margin: 0px;
    
}

td {
    border: 1px solid #ECECEC;
    text-align: center;
    padding: 6px;
    font-weight: normal;
}

th {
    border: 1px solid #ECECEC;
    background-color: #0175A4;
    text-align: center;
    padding: 6px;
    color: #fff;
    font-weight: normal;
}
.th-debt {
    
    background-color: #4c97dc;
    
}
.nth-child:nth-child(odd) {
    background-color: #dddddd;
}

.nth-child-customer:nth-child(4n+1) {
    
    background-color: #dddddd;
    
}



.button {
    font-family: 'Kanit-Regular'; 
    color: #fff;
    margin: 14px 0px;
    padding: 6px 36px;
    background-color: #048DC2;
    display: inline-block;
    border: 1px solid transparent;
}
.img-detail{
    width: 200px; 
    height: auto;
}
#page-content-wrapper{
    margin: 15px;
    margin-bottom: 45px;
}

li .navbar-nav a,li .navbar-nav a:hover {
    color: white;
    text-decoration: none !important;
}
a, a:hover {
    text-decoration: none;
}
.fa-pencil-square-o{
    color: #0099ff;
}
td > a > .fa >{
    margin:5px;
}
.button-head {
    
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button-head-menu {
    background-color: #eeeeee;
    color: #474747;
    
    /* border: 2px solid #555555; */
    
}

.header-i-size {
    font-size:16px;
}
li > a > span {
    font-size:14px;
    padding:5px;
}

.button-head-menu-active {
    background-color: #186ab6;
    color: white !important; 
}

.button-head-menu:hover {
    background-color: #186ab6;
    color: white;
}

.footer {
    padding:8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    color: white;
    text-align: center;
    color:rgba(0,0,0,0.4);
    font-size: 10px;
    border-top: 1px solid rgba(0,0,0,0.05);;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f8f9fa;
}
.navbar-nav > .nav-item > a{
    width:100%;
}
.nav-item-style {
    margin:4px;
}
.help-block{
    color:#999999;
    font-size:12px;
}
.form-group > label{
    font-size:12px;    
}
.form-group{
    text-align:left ;
}
/*//////////////////////////////////////////////////////////////*/
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
} 
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.nav>li>ul {
    list-style: none;
    padding: 0px;
}


.notify {
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgb(255, 255, 255);
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.nav>li>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 12px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.divider {
    margin: 0px !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.alert{
    position: absolute;
    background: rgb(247, 15, 15);
    color: white;
    font-size:12px ;
    border-radius: 4px;
    top:0px;
    right:15px;
    padding: 0px !important;
}

.notify-active{
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(148, 196, 235, 0.877);
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
  
}
a.list-group-item, button.list-group-item {
    color: #555;
}

.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (max-width: 1600px) {
    .img-detail{
        width: 200px; 
        height: auto;
    }
}
@media only screen and (max-width: 1440px) {
    .img-detail{
        width: 200px; 
        height: auto;
    }

}
@media only screen and (max-width: 1366px) {
    .img-detail{
        width: 200px; 
        height: auto;
    }

}
@media only screen and (max-width: 1024px) {
    .img-detail{
        width: 200px; 
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .img-detail{
        width: 120px; 
        height: auto;
    }
    /* .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    } */
    

}
@media only screen and (max-width: 640px) {
    .img-detail{
        width: 100px; 
        height: auto;
    }

}
@media only screen and (max-width: 480px) {
    .img-detail{
        width: 70px; 
        height: auto;
    }

}

@media only screen and (max-width: 320px) {
    .img-detail{
        width: 50px; 
        height: auto;
    }
    .toggled{
        display: none;
    }
}


